%p
  Dieroll in your browser!
%p
  Click the links on the right to see different dieroll results.
%p
  You can replace '3d6' in the address with another legal dieroll notation.
  %br/
  e.g. '4d10', '4d6Dl'(4d6 drop low)
